.login-component {
	height: 100%;
	margin-bottom: 0;

	.login-form {
		display: flex;
		margin: auto;
		height: 100%;
		justify-content: center;
		align-items: center;
		max-width: 42rem;
		flex-direction: column;

		.form-label-group {
			position: relative;
			margin-bottom: 0;
			width: 100%;
		}
		
		button {
			font-size: 1.6rem;
			text-transform: uppercase;
			font-family: Arial, Helvetica, sans-serif;
			padding: 1.2rem;
			font-weight: 600;
			letter-spacing: .02em;
		}
	}
}
